@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
    

body {
    background-color: rgb(221, 221, 221) !important;
}


.drink {
    background-color: white;
    border-radius: 10px;
}

.section p {
    color: rgb(120, 120, 120);
}

.instruc {
    margin-top: 50px;
}

.btn-refresh {
    background-color: pink;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}


.cont-btn {
    position: absolute;
    bottom: 0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 100px;
    
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  .hidden {
    display: none;
  }